<div class="inner note-text-inner d-none" data-cvss-version="3">

  <%= simple_form_for [:cvss, current_project, @issue] do |f| %>

    <div class="alert alert-error" data-behavior="cvss-error">
      <p><strong>Warning</strong>: all Base metrics are required</p>
    </div>

    <ul class="nav nav-pills w-100" id="cvss-tabs">
      <li class="nav-item">
        <a href="#cvss-edit-base" data-bs-toggle="pill" class="nav-link active">Base: <span id="base-score">0</span></a>
      </li>
      <li class="nav-item">
        <a href="#cvss-edit-temporal" data-bs-toggle="pill" class="nav-link">Temporal: <span id="temporal-score">0</span></a>
      </li>
      <li class="nav-item">
        <a href="#cvss-edit-environmental" data-bs-toggle="pill" class="nav-link">Environmental: <span id="environmental-score">0</span></a>
      </li>
      <li class="nav-item pull-right">
        <a href="#cvss-edit-result" data-bs-toggle="pill" class="nav-link">Result</a>
      </li>
    </ul>

    <div class="tab-content mt-4">
      <div class="tab-pane active" id="cvss-edit-base">
        <%= render 'dradis/plugins/calculators/cvss/base/v3/base' %>
      </div>
      <div class="tab-pane" id="cvss-edit-temporal">
        <%= render 'dradis/plugins/calculators/cvss/base/v3/temporal' %>
      </div>
      <div class="tab-pane" id="cvss-edit-environmental">
        <%= render 'dradis/plugins/calculators/cvss/base/v3/environmental' %>
      </div>

      <div class="tab-pane" id="cvss-edit-result">
        <textarea class="form-control" name="cvss_fields" rows="10" style="width:95%">#[CVSSv3.Vector]#
N/A

#[CVSSv3.BaseScore]#
N/A

#[CVSSv3.BaseSeverity]#
N/A

#[CVSSv3.TemporalScore]#
N/A

#[CVSSv3.TemporalSeverity]#
N/A

#[CVSSv3.EnvironmentalScore]#
N/A

#[CVSSv3.EnvironmentalSeverity]#
N/A

#[CVSSv3.BaseAttackVector]#
#[CVSSv3.BaseAttackComplexity]#
#[CVSSv3.BasePrivilegesRequired]#
#[CVSSv3.BaseUserInteraction]#
#[CVSSv3.BaseScope]#
#[CVSSv3.BaseConfidentiality]#
#[CVSSv3.BaseIntegrity]#
#[CVSSv3.BaseAvailability]#

#[CVSSv3.TemporalExploitCodeMaturity]#
#[CVSSv3.TemporalRemediationLevel]#
#[CVSSv3.TemporalReportConfidence]#

#[CVSSv3.EnvironmentalConfidentialityRequirement]#
#[CVSSv3.EnvironmentalIntegrityRequirement]#
#[CVSSv3.EnvironmentalAvailabilityRequirement]#

#[CVSSv3.ModifiedAttackVector]#
#[CVSSv3.ModifiedAttackComplexity]#
#[CVSSv3.ModifiedPrivilegesRequired]#
#[CVSSv3.ModifiedUserInteraction]#
#[CVSSv3.ModifiedScope]#
#[CVSSv3.ModifiedConfidentiality]#
#[CVSSv3.ModifiedIntegrity]#
#[CVSSv3.ModifiedAvailability]#
        </textarea>
      </div>
    </div>

    <div class="form-actions sticky">
      <%= f.button :submit, nil, class: 'btn btn-primary' %> or
      <%= link_to 'Cancel', main_app.project_issue_path(current_project, @issue), class: 'cancel-link' %>
    </div>
  <% end %>
</div>
