<div
  class="inner note-text-inner d-none"
  data-behavior="cvss-v4-calculator"
  data-cvss-version="4"
>

  <%= simple_form_for [:cvss, current_project, @issue] do |f| %>

    <div class="alert alert-error" data-behavior="cvss-error">
      <p><strong>Warning</strong>: all Base metrics are required</p>
    </div>

    <ul class="nav nav-pills w-100" id="cvss-tabs">
      <li class="nav-item">
        <a href="#cvss4-edit-base" data-bs-toggle="pill" class="nav-link active">Base</a>
      </li>
      <li class="nav-item">
        <a href="#cvss4-edit-supplemental" data-bs-toggle="pill" class="nav-link">Supplemental</a>
      </li>
      <li class="nav-item">
        <a href="#cvss4-edit-environmental" data-bs-toggle="pill" class="nav-link">Environmental</a>
      </li>
      <li class="nav-item">
        <a href="#cvss4-edit-threat" data-bs-toggle="pill" class="nav-link">Threat</a>
      </li>
      <li class="nav-item pull-right">
        <a href="#cvss4-edit-result" data-bs-toggle="pill" class="nav-link">Result: <span data-behavior="cvss4-result">0.0 (None)</span></a>
      </li>
    </ul>

    <div class="tab-content mt-4">
      <div class="tab-pane active" id="cvss4-edit-base">
        <%= render 'dradis/plugins/calculators/cvss/base/v4/base' %>
      </div>
      <div class="tab-pane" id="cvss4-edit-supplemental">
        <%= render 'dradis/plugins/calculators/cvss/base/v4/supplemental' %>
      </div>
      <div class="tab-pane" id="cvss4-edit-environmental">
        <%= render 'dradis/plugins/calculators/cvss/base/v4/environmental' %>
      </div>
      <div class="tab-pane" id="cvss4-edit-threat">
        <%= render 'dradis/plugins/calculators/cvss/base/v4/threat' %>
      </div>

      <div class="tab-pane" id="cvss4-edit-result" data-behavior="cvss4-result-text">
        <p>Toggle the fields you'd like to include in the issue content. Defaults can be set in the <%= link_to 'Configuration Manager', main_app.project_configurations_path %>.</p>
        <%
          default_fields = Dradis::Plugins::Calculators::CVSS::Engine.settings.v4_fields.split(',')
          existing_fields = @issue.fields.keys.select { |k| k.start_with?('CVSSv4.') }
          enabled_fields = existing_fields.any? ? existing_fields : default_fields
          field_groups = Dradis::Plugins::Calculators::CVSS::V4::FIELDS.group_by do |field|
            name = field.sub('CVSSv4.', '')
            case name
            when 'BaseVector', 'BaseScore', 'BaseSeverity' then 'Score'
            when /^Base/ then 'Base Metrics'
            when /^Supplemental/ then 'Supplemental'
            when /^Environmental/ then 'Environmental'
            when /^Threat/ then 'Threat'
            else 'Macro Vector'
            end
          end
        %>

        <% field_groups.each do |group_name, fields| %>
          <div class="mb-3">
            <h6 class="mb-2"><%= group_name %></h6>
            <% fields.each do |field| %>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input"
                       type="checkbox"
                       role="switch"
                       id="cvss4-field-<%= field.parameterize %>"
                       data-behavior="cvss4-field-switch"
                       data-field-name="<%= field %>"
                       <%= 'checked' if enabled_fields.include?(field) %>>
                <label class="form-check-label" for="cvss4-field-<%= field.parameterize %>"><%= field %></label>
                <p class="small mb-0" data-behavior="cvss4-field-value" data-field-name="<%= field %>"></p>
              </div>
            <% end %>
          </div>
        <% end %>

        <textarea class="d-none" name="cvss_fields"></textarea>
      </div>
    </div>

    <div class="form-actions sticky">
      <%= f.button :submit, nil, class: 'btn btn-primary' %> or
      <%= link_to 'Cancel', main_app.project_issue_path(current_project, @issue), class: 'cancel-link' %>
    </div>
  <% end %>
</div>
