<!DOCTYPE html>
<html>
  <head>
    <title>CVSS Score Calculator | Dradis Framework</title>
    <%= stylesheet_link_tag    'dradis/plugins/calculators/cvss/manifests/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dradis/plugins/calculators/cvss/manifests/application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="authenticated">
    <div class="container">
      <nav class="navbar">
        <a href="javascript:void(0)" class="navbar-brand">CVSS score calculator</a>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <% if current_user.role?(:contributor) -%>
              <%= link_to main_app.contributors_home_path, class: 'nav-link', data: { turbolinks: false } do %>
                Back to the app  &rarr;
              <% end %>
            <% else %>
              <%= link_to main_app.root_path, class: 'nav-link', data: { turbolinks: false } do %>
                Back to the app  &rarr;
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>

      <%= yield%>
    </div>
  </body>
</html>
