<section data-behavior="cvss-buttons">

  <div class="row-fluid">

    <div class="span5">
      <div class="inner">
        <h3 title="These metrics enable the analyst to customize the CVSS score depending on the importance of the Confidentiality of the affected IT asset to a user’s organization, relative to other impacts. This metric modifies the environmental score by reweighting the Modified Confidentiality impact metric versus the other modified impacts.">Confidentiality Req. (CR)</h3>

        <%= hidden_field_tag :cr, @cvss_vector['CR'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['CR'] == 'X' %>" name="cr" value="X" title="(X) Assigning this value to the metric will not influence the score.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['CR'] == 'L' %>" name="cr" value="L" title="(L) Loss of Confidentiality is likely to have only a limited adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">Low <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['CR'] == 'M' %>" name="cr" value="M" title="(M) Loss of Confidentiality is likely to have a serious adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">Med <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['CR'] == 'H' %>" name="cr" value="H" title="(H) Loss of Confidentiality is likely to have a catastrophic adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="These metrics enable the analyst to customize the CVSS score depending on the importance of the Integrity of the affected IT asset to a user’s organization, relative to other impacts. This metric modifies the environmental score by reweighting the Modified Integrity impact metric versus the other modified impacts.">Integrity Req. (IR)</h3>

        <%= hidden_field_tag :ir, @cvss_vector['IR'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['IR'] == 'X' %>" name="ir" value="X" title="(X) Assigning this value to the metric will not influence the score.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['IR'] == 'L' %>" name="ir" value="L" title="(L) Loss of Integrity is likely to have only a limited adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">Low <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['IR'] == 'M' %>" name="ir" value="M" title="(M) Loss of Integrity is likely to have a serious adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">Med <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['IR'] == 'H' %>" name="ir" value="H" title="(H) Loss of Integrity is likely to have a catastrophic adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="These metrics enable the analyst to customize the CVSS score depending on the importance of the Availability of the affected IT asset to a user’s organization, relative to other impacts. This metric modifies the environmental score by reweighting the Modified Availability impact metric versus the other modified impacts.">Availability Req. (AR)</h3>

        <%= hidden_field_tag :ar, @cvss_vector['AR'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['AR'] == 'X' %>" name="ar" value="X" title="(X) Assigning this value to the metric will not influence the score.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['AR'] == 'L' %>" name="ar" value="L" title="(L) Loss of Availability is likely to have only a limited adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">Low <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['AR'] == 'M' %>" name="ar" value="M" title="(M) Loss of availability is likely to have a serious adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">Med <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['AR'] == 'H' %>" name="ar" value="H" title="(H) Loss of Availability is likely to have a catastrophic adverse effect on the organization or individuals associated with the organization (e.g., employees, customers).">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

    <div class="span7">

      <div class="inner">
        <h3 title="This metric reflects the context by which vulnerability exploitation is possible. The Base Score increases the more remote (logically, and physically) an attacker can be in order to exploit the vulnerable component.">Mod. Attack Vector (MAV)</h3>

        <%= hidden_field_tag :mav, @cvss_vector['MAV'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAV'] == 'X' %>" name="mav" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAV'] == 'N' %>" name="mav" value="N" title="(N) A vulnerability exploitable with network access means the vulnerable component is bound to the network stack and the attacker's path is through OSI layer 3 (the network layer). Such a vulnerability is often termed 'remotely exploitable' and can be thought of as an attack being exploitable one or more network hops away.">Net. <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAV'] == 'A' %>" name="mav" value="A" title="(A) A vulnerability exploitable with adjacent network access means the vulnerable component is bound to the network stack, however the attack is limited to the same shared physical (e.g. Bluetooth, IEEE 802.11), or logical (e.g. local IP subnet) network, and cannot be performed across an OSI layer 3 boundary (e.g. a router).">Adjacent <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAV'] == 'L' %>" name="mav" value="L" title="(L) A vulnerability exploitable with local access means that the vulnerable component is not bound to the network stack, and the attacker’s path is via read/write/execute capabilities. In some cases, the attacker may be logged in locally in order to exploit the vulnerability, otherwise, she may rely on User Interaction to execute a malicious file.">Local <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAV'] == 'P' %>" name="mav" value="P" title="(P) A vulnerability exploitable with physical access requires the attacker to physically touch or manipulate the vulnerable component. Physical interaction may be brief or persistent.">Physical <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="This metric describes the conditions beyond the attacker’s control that must exist in order to exploit the vulnerability. Such conditions may require the collection of more information about the target, the presence of certain system configuration settings, or computational exceptions.">Mod. Attack Complexity (MAC)</h3>

        <%= hidden_field_tag :mac, @cvss_vector['MAC'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAC'] == 'X' %>" name="mac" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAC'] == 'L' %>" name="mac" value="L" title="(L) Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success against the vulnerable component.">Low <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MAC'] == 'H' %>" name="mac" value="H" title="(H) A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected. For example, a successful attack may require the attacker: to perform target-specific reconnaissance; to prepare the target environment to improve exploit reliability; or to inject herself into the logical network path between the target and the resource requested by the victim in order to read and/or modify network communications (e.g. a man in the middle attack).">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability. This Base Score increases as fewer privileges are required.">Mod. Privileges Required (MPR)</h3>

        <%= hidden_field_tag :mpr, @cvss_vector['MPR'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MPR'] == 'X' %>" name="mpr" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MPR'] == 'N' %>" name="mpr" value="N" title="(N) The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files to carry out an attack.">None <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MPR'] == 'L' %>" name="mpr" value="L" title="(L) The attacker is authorized with (i.e. requires) privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges may have the ability to cause an impact only to non-sensitive resources.">Low <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MPR'] == 'H' %>" name="mpr" value="H" title="(H) The attacker is authorized with (i.e. requires) privileges that provide significant (e.g. administrative) control over the vulnerable component that could affect component-wide settings and files.">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="This metric captures the requirement for a user, other than the attacker, to participate in the successful compromise the vulnerable component. This metric determines whether the vulnerability can be exploited solely at the will of the attacker, or whether a separate user (or user-initiated process) must participate in some manner. The Base Score is highest when no user interaction is required.">Mod. User Interaction (MUI)</h3>

        <%= hidden_field_tag :mui, @cvss_vector['MUI'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MUI'] == 'X' %>" name="mui" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MUI'] == 'N' %>" name="mui" value="N" title="(N) The vulnerable system can be exploited without any interaction from any user.">None <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MUI'] == 'R' %>" name="mui" value="R" title="(R) Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited.">Required <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="Does a successful attack impact a component other than the vulnerable component? If so, the Base Score increases and the Confidentiality, Integrity and Authentication metrics should be scored relative to the impacted component.">Mod. Scope (MS)</h3>

        <%= hidden_field_tag :ms, @cvss_vector['MS'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MS'] == 'X' %>" name="ms" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MS'] == 'U' %>" name="ms" value="U" title="(U) An exploited vulnerability can only affect resources managed by the same authority. In this case the vulnerable component and the impacted component are the same.">Unchanged <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MS'] == 'C' %>" name="ms" value="C" title="(C) An exploited vulnerability can affect resources beyond the authorization privileges intended by the vulnerable component. In this case the vulnerable component and the impacted component are different.">Changed <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability. Confidentiality refers to limiting information access and disclosure to only authorized users, as well as preventing access by, or disclosure to, unauthorized ones.">Mod. Confidentiality (MC)</h3>

        <%= hidden_field_tag :mc, @cvss_vector['MC'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MC'] == 'X' %>" name="mc" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MC'] == 'N' %>" name="mc" value="N" title="(N) There is no loss of confidentiality within the impacted component.">None <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MC'] == 'L' %>" name="mc" value="L" title="(L) There is some loss of confidentiality. Access to some restricted information is obtained, but the attacker does not have control over what information is obtained, or the amount or kind of loss is constrained. The information disclosure does not cause a direct, serious loss to the impacted component.">Low<i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MC'] == 'H' %>" name="mc" value="H" title="(H) There is total loss of confidentiality, resulting in all resources within the impacted component being divulged to the attacker. Alternatively, access to only some restricted information is obtained, but the disclosed information presents a direct, serious impact.">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="This metric measures the impact to integrity of a successfully exploited vulnerability. Integrity refers to the trustworthiness and veracity of information.">Mod. Integrity (MI)</h3>

        <%= hidden_field_tag :mi, @cvss_vector['MI'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MI'] == 'X' %>" name="mi" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MI'] == 'N' %>" name="mi" value="N" title="(N) There is no loss of integrity within the impacted component.">None <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MI'] == 'L' %>" name="mi" value="L" title="(L) Modification of data is possible, but the attacker does not have control over the consequence of a modification, or the amount of modification is constrained. The data modification does not have a direct, serious impact on the impacted component.">Low <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MI'] == 'H' %>" name="mi" value="H" title="(H) There is a total loss of integrity, or a complete loss of protection. For example, the attacker is able to modify any/all files protected by the impacted component. Alternatively, only some files can be modified, but malicious modification would present a direct, serious consequence to the impacted component.">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h3 title="This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability. It refers to the loss of availability of the impacted component itself, such as a networked service (e.g., web, database, email). Since availability refers to the accessibility of information resources, attacks that consume network bandwidth, processor cycles, or disk space all impact the availability of an impacted component.">Mod. Availability (MA)</h3>

        <%= hidden_field_tag :ma, @cvss_vector['MA'] %>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MA'] == 'X' %>" name="ma" value="X" title="(X) Use the value assigned to the corresponding Base Score metric.">N/D <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MA'] == 'N' %>" name="ma" value="N" title="(N) There is no impact to availability within the impacted component.">None <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MA'] == 'L' %>" name="ma" value="L" title="(L) There is reduced performance or interruptions in resource availability. Even if repeated exploitation of the vulnerability is possible, the attacker does not have the ability to completely deny service to legitimate users. The resources in the impacted component are either partially available all of the time, or fully available only some of the time, but overall there is no direct, serious consequence to the impacted component.">Low <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>

          <button type="button" class="btn btn-med<%= ' active btn-primary' if @cvss_vector['MA'] == 'H' %>" name="ma" value="H" title="(H) There is total loss of availability, resulting in the attacker being able to fully deny access to resources in the impacted component; this loss is either sustained (while the attacker continues to deliver the attack) or persistent (the condition persists even after the attack has completed). Alternatively, the attacker has the ability to deny some availability, but the loss of availability presents a direct, serious consequence to the impacted component (e.g., the attacker cannot disrupt existing connections, but can prevent new connections; the attacker can repeatedly exploit a vulnerability that, in each instance of a successful attack, leaks a only small amount of memory, but after repeated exploitation causes a service to become completely unavailable).">High <i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

  </div>

  <p>
    These metrics enable the analyst to customize the CVSS score depending on
    the importance of the affected IT asset to a user's organization, measured
    in terms of complementary/alternative security controls in place,
    Confidentiality, Integrity, and Availability. The metrics are the modified
    equivalent of base metrics and are assigned metric values based on the
    component placement in organization infrastructure.
  </p>
</section>
