<section data-behavior="cvss3-buttons">

  <div class="row">

    <div class="col-6">
      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="CR_Heading">Confidentiality Req. (CR)</h5>

        <%= hidden_field_tag :cr, @cvss_vector['CR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'X' %>" name="cr" value="X" data-label="Not Defined" data-cvss="CR_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'L' %>" name="cr" value="L" data-label="Low" data-cvss="CR_L_Label">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'M' %>" name="cr" value="M" data-label="Medium" data-cvss="CR_M_Label">Med <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'H' %>" name="cr" value="H" data-label="High" data-cvss="CR_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="IR_Heading">Integrity Req. (IR)</h5>

        <%= hidden_field_tag :ir, @cvss_vector['IR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'X' %>" name="ir" value="X" data-label="Not Defined" data-cvss="IR_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'L' %>" name="ir" value="L" data-label="Low" data-cvss="IR_L_Label">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'M' %>" name="ir" value="M" data-label="Medium" data-cvss="IR_M_Label">Med <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'H' %>" name="ir" value="H" data-label="High" data-cvss="IR_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="AR_Heading">Availability Req. (AR)</h5>

        <%= hidden_field_tag :ar, @cvss_vector['AR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'X' %>" name="ar" value="X" data-label="Not Defined" data-cvss="AR_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'L' %>" name="ar" value="L" data-label="Low" data-cvss="AR_L_Label">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'M' %>" name="ar" value="M" data-label="Medium" data-cvss="AR_M_Label">Med <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'H' %>" name="ar" value="H" data-label="High" data-cvss="AR_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MAV_Heading">Mod. Attack Vector (MAV)</h5>

        <%= hidden_field_tag :mav, @cvss_vector['MAV'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'X' %>" name="mav" value="X" data-label="Not Defined" data-cvss="MAV_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'N' %>" name="mav" value="N" data-label="Network" data-cvss="MAV_N_Label">Net. <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'A' %>" name="mav" value="A" data-label="Adjacent" data-cvss="MAV_A_Label">Adjacent <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'L' %>" name="mav" value="L" data-label="Local" data-cvss="MAV_L_Label">Local <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'P' %>" name="mav" value="P" data-label="Physical" data-cvss="MAV_P_Label">Physical <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MAC_Heading">Mod. Attack Complexity (MAC)</h5>

        <%= hidden_field_tag :mac, @cvss_vector['MAC'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAC'] == 'X' %>" name="mac" value="X" data-label="Not Defined" data-cvss="MAC_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAC'] == 'L' %>" name="mac" value="L" data-label="Low" data-cvss="MAC_L_Label">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAC'] == 'H' %>" name="mac" value="H" data-label="High" data-cvss="MAC_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MPR_Heading">Mod. Privileges Required (MPR)</h5>

        <%= hidden_field_tag :mpr, @cvss_vector['MPR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'X' %>" name="mpr" value="X" data-label="Not Defined" data-cvss="MPR_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'N' %>" name="mpr" value="N" data-label="None" data-cvss="MPR_N_Label">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'L' %>" name="mpr" value="L" data-label="Low" data-cvss="MPR_L_Label">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'H' %>" name="mpr" value="H" data-label="High" data-cvss="MPR_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MUI_Heading">Mod. User Interaction (MUI)</h5>

        <%= hidden_field_tag :mui, @cvss_vector['MUI'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MUI'] == 'X' %>" name="mui" value="X" data-label="Not Defined" data-cvss="MUI_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MUI'] == 'N' %>" name="mui" value="N" data-label="None" data-cvss="MUI_N_Label">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MUI'] == 'R' %>" name="mui" value="R" data-label="Required" data-cvss="MUI_R_Label">Required <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MS_Heading">Mod. Scope (MS)</h5>

        <%= hidden_field_tag :ms, @cvss_vector['MS'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MS'] == 'X' %>" name="ms" value="X" data-label="Not Defined" data-cvss="MS_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MS'] == 'U' %>" name="ms" value="U" data-label="Unchanged" data-cvss="MS_U_Label">Unchanged <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MS'] == 'C' %>" name="ms" value="C" data-label="Changed" data-cvss="MS_C_Label">Changed <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MC_Heading">Mod. Confidentiality (MC)</h5>

        <%= hidden_field_tag :mc, @cvss_vector['MC'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MC'] == 'X' %>" name="mc" value="X" data-label="Not Defined" data-cvss="MC_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MC'] == 'N' %>" name="mc" value="N" data-label="None" data-cvss="MC_N_Label">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MC'] == 'L' %>" name="mc" value="L" data-label="Low" data-cvss="MC_L_Label">Low<i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MC'] == 'H' %>" name="mc" value="H" data-label="High" data-cvss="MC_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MI_Heading">Mod. Integrity (MI)</h5>

        <%= hidden_field_tag :mi, @cvss_vector['MI'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MI'] == 'X' %>" name="mi" value="X" data-label="Not Defined" data-cvss="MI_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MI'] == 'N' %>" name="mi" value="N" data-label="None" data-cvss="MI_N_Label">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MI'] == 'L' %>" name="mi" value="L" data-label="Low" data-cvss="MI_L_Label">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MI'] == 'H' %>" name="mi" value="H" data-label="High" data-cvss="MI_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="MA_Heading">Mod. Availability (MA)</h5>

        <%= hidden_field_tag :ma, @cvss_vector['MA'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MA'] == 'X' %>" name="ma" value="X" data-label="Not Defined" data-cvss="MA_X_Label">N/D <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MA'] == 'N' %>" name="ma" value="N" data-label="None" data-cvss="MA_N_Label">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MA'] == 'L' %>" name="ma" value="L" data-label="Low" data-cvss="MA_L_Label">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MA'] == 'H' %>" name="ma" value="H" data-label="High" data-cvss="MA_H_Label">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

  </div>

  <p>
    These metrics enable the analyst to customize the CVSS score depending on
    the importance of the affected IT asset to a user's organization, measured
    in terms of complementary/alternative security controls in place,
    Confidentiality, Integrity, and Availability. The metrics are the modified
    equivalent of base metrics and are assigned metric values based on the
    component placement in organization infrastructure.
  </p>
</section>

<section data-behavior="cvss4-buttons">
  <div class="row">

    <div class="col-6">
      <h4>Exploitability Metrics</h4>
      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Attack Vector (MAV)</h5>

        <%= hidden_field_tag :mav, @cvss_vector['MAV'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'X' %>" name="mav" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'N' %>" name="mav" value="N" data-label="Network" data-cvss="">Network <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'A' %>" name="mav" value="A" data-label="Adjacent" data-cvss="">Adjacent <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'L' %>" name="mav" value="L" data-label="Local" data-cvss="">Local <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAV'] == 'P' %>" name="mav" value="P" data-label="Physical" data-cvss="">Physical <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Attack Complexity (MAC)</h5>

        <%= hidden_field_tag :mac, @cvss_vector['MAC'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAC'] == 'X' %>" name="mac" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAC'] == 'L' %>" name="mac" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAC'] == 'H' %>" name="mac" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Attack Complexity (MAT)</h5>

        <%= hidden_field_tag :mat, @cvss_vector['MAT'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAT'] == 'X' %>" name="mat" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAT'] == 'N' %>" name="mat" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MAT'] == 'P' %>" name="mat" value="P" data-label="Present" data-cvss="">Present <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Privileges Required (MPR)</h5>

        <%= hidden_field_tag :mpr, @cvss_vector['MPR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'X' %>" name="mpr" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'N' %>" name="mpr" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'L' %>" name="mpr" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MPR'] == 'H' %>" name="mpr" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">User Interaction (MUI)</h5>

        <%= hidden_field_tag :mui, @cvss_vector['MUI'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MUI'] == 'X' %>" name="mui" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MUI'] == 'N' %>" name="mui" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MUI'] == 'P' %>" name="mui" value="P" data-label="Passive" data-cvss="">Passive <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MUI'] == 'A' %>" name="mui" value="A" data-label="Active" data-cvss="">Active <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <h4>Vulnerable System Impact Metrics</h4>
      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Confidentiality (MVC)</h5>

        <%= hidden_field_tag :mvc, @cvss_vector['MVC'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVC'] == 'X' %>" name="mvc" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVC'] == 'H' %>" name="mvc" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVC'] == 'L' %>" name="mvc" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVC'] == 'N' %>" name="mvc" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Integrity (MVI)</h5>

        <%= hidden_field_tag :mvi, @cvss_vector['MVI'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVI'] == 'X' %>" name="mvi" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVI'] == 'H' %>" name="mvi" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVI'] == 'L' %>" name="mvi" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVI'] == 'N' %>" name="mvi" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Availability (MVA)</h5>

        <%= hidden_field_tag :mva, @cvss_vector['MVA'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVA'] == 'X' %>" name="mva" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVA'] == 'H' %>" name="mva" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVA'] == 'L' %>" name="mva" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MVA'] == 'N' %>" name="mva" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <h4>Subsequent System Impact Metrics</h4>
      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Confidentiality (MSC)</h5>

        <%= hidden_field_tag :msc, @cvss_vector['MSC'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSC'] == 'X' %>" name="msc" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSC'] == 'H' %>" name="msc" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSC'] == 'L' %>" name="msc" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSC'] == 'N' %>" name="msc" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Integrity (MSI)</h5>

        <%= hidden_field_tag :msi, @cvss_vector['SI'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSI'] == 'X' %>" name="msi" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSI'] == 'S' %>" name="msi" value="S" data-label="Safety" data-cvss="">Safety <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSI'] == 'H' %>" name="msi" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSI'] == 'L' %>" name="msi" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSI'] == 'N' %>" name="msi" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Availability (MSA)</h5>

        <%= hidden_field_tag :msa, @cvss_vector['MSA'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSA'] == 'X' %>" name="msa" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSA'] == 'S' %>" name="msa" value="S" data-label="Safety" data-cvss="">Safety <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSA'] == 'H' %>" name="msa" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSA'] == 'L' %>" name="msa" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['MSA'] == 'N' %>" name="msa" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <h4>Security Requirements</h4>
      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Confidentiality Requirements (CR)</h5>

        <%= hidden_field_tag :cr, @cvss_vector['CR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'X' %>" name="cr" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'H' %>" name="cr" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'L' %>" name="cr" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['CR'] == 'N' %>" name="cr" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Integrity Requirements (IR)</h5>

        <%= hidden_field_tag :ir, @cvss_vector['IR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'X' %>" name="ir" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'H' %>" name="ir" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'L' %>" name="ir" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['IR'] == 'N' %>" name="ir" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="inner">
        <h5 class="header-underline mt-0" data-cvss="">Availability Requirements (AR)</h5>

        <%= hidden_field_tag :ar, @cvss_vector['AR'] %>

        <div class="btn-group mb-4">
          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'X' %>" name="ar" value="X" data-label="Not Defined" data-cvss="">Not Defined <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'H' %>" name="ar" value="H" data-label="High" data-cvss="">High <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'L' %>" name="ar" value="L" data-label="Low" data-cvss="">Low <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

          <button type="button" class="btn <%= 'active btn-primary' if @cvss_vector['AR'] == 'N' %>" name="ar" value="N" data-label="None" data-cvss="">None <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
