<section data-behavior="cvss-buttons" data-cvss-version="4" data-cvss-metrics="Supplemental Metrics">
  <div class="row">
    <div class="col-12" data-cvss-metric-group="none">
      <h5 class="header-underline mt-0 align-items-center gap-2" data-cvss-heading="Safety (S)">Safety (S) <i class="fa-regular fa-question-circle small" aria-hidden="true"></i></h5>

      <%= hidden_field_tag :s, @cvss4_vector['S'] %>

      <div class="btn-group mb-4">
        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['S'] == 'X' %>" name="s" value="X" data-cvss-option="Not Defined (X)">Not Defined (X) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['S'] == 'N' %>" name="s" value="N" data-cvss-option="Negligible (N)">Negligible (N) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['S'] == 'P' %>" name="s" value="P" data-cvss-option="Present (P)">Present (P) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
      </div>

      <h5 class="header-underline mt-0" data-cvss-heading="Automatable (AU)">Automatable (AU) <i class="fa-regular fa-question-circle small" aria-hidden="true"></i></h5>

      <%= hidden_field_tag :au, @cvss4_vector['AU'] %>

      <div class="btn-group mb-4">
        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['AU'] == 'X' %>" name="au" value="X" data-cvss-option="Not Defined (X)">Not Defined (X) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['AU'] == 'N' %>" name="au" value="N" data-cvss-option="No (N)">No (N) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['AU'] == 'Y' %>" name="au" value="Y" data-cvss-option="Yes (Y)">Yes (Y) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
      </div>

      <h5 class="header-underline mt-0" data-cvss-heading="Recovery (R)">Recovery (R) <i class="fa-regular fa-question-circle small" aria-hidden="true"></i></h5>

      <%= hidden_field_tag :r, @cvss4_vector['R'] %>

      <div class="btn-group mb-4">
        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['R'] == 'X' %>" name="r" value="X" data-cvss-option="Not Defined (X)">Not Defined (X) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['R'] == 'A' %>" name="r" value="A"  data-cvss-option="Automatic (A)">Automatic (A) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['R'] == 'U' %>" name="r" value="U" data-cvss-option="User (U)">User (U) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['R'] == 'I' %>" name="r" value="I" data-cvss-option="Irrecoverable (I)">Irrecoverable (I) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
      </div>

      <h5 class="header-underline mt-0" data-cvss-heading="Value Density (V)">Value Density (V) <i class="fa-regular fa-question-circle small" aria-hidden="true"></i></h5>

      <%= hidden_field_tag :v, @cvss4_vector['V'] %>

      <div class="btn-group mb-4">
        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['V'] == 'X' %>" name="v" value="X" data-cvss-option="Not Defined (X)">Not Defined (X) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['V'] == 'D' %>" name="v" value="D" data-cvss-option="Diffuse (D)">Diffuse (D) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['V'] == 'C' %>" name="v" value="C" data-cvss-option="Concentrated (C)">Concentrated (C) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
      </div>

      <h5 class="header-underline mt-0" data-cvss-heading="Vulnerability Response Effort (RE)">Vulnerability Response Effort (RE) <i class="fa-regular fa-question-circle small" aria-hidden="true"></i></h5>

      <%= hidden_field_tag :re, @cvss4_vector['RE'] %>

      <div class="btn-group mb-4">
        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['RE'] == 'X' %>" name="re" value="X" data-cvss-option="Not Defined (X)">Not Defined (X) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['RE'] == 'L' %>" name="re" value="L" data-cvss-option="Low (L)">Low (L) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['RE'] == 'M' %>" name="re" value="M" data-cvss-option="Moderate (M)">Moderate (M) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['RE'] == 'H' %>" name="re" value="H" data-cvss-option="High (H)">High (H) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
      </div>

      <h5 class="header-underline mt-0" data-cvss-heading="Provider Urgency (U)">Provider Urgency (U) <i class="fa-regular fa-question-circle small" aria-hidden="true"></i></h5>

      <%= hidden_field_tag :u, @cvss4_vector['U'] %>

      <div class="btn-group">
        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['U'] == 'X' %>" name="u" value="X" data-cvss-option="Not Defined (X)">Not Defined (X) <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['U'] == 'Clear' %>" name="u" value="Clear" data-cvss-option="Clear">Clear <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['U'] == 'Green' %>" name="u" value="Green" data-cvss-option="Green">Green <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['U'] == 'Amber' %>" name="u" value="Amber" data-cvss-option="Amber">Amber <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>

        <button type="button" class="btn <%= 'active btn-primary' if @cvss4_vector['U'] == 'Red' %>" name="u" value="Red" data-cvss-option="Red">Red <i class="fa-regular fa-question-circle" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</section>
